/* TODO
Credits sivu /jesse
video sivulle

*/

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

/* Global */


/* Header */
header {
    background: rgba(0,0,0,80%);
    color: #ffffff;
    text-align: center;
    min-height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h1 {
    font-family: 'Frijole', cursive;
    text-align: center;
    float: left;
    margin: 11px 0 11px 20px;
}

/* Hamppari nappi */
label {
    margin: 0 20px 0 0;
    font-size: 28px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
}

#toggle {
    display: none;
}

/* Hamppari menu */

.menu ul {
    background: none;
    margin: 20px 20px 20px 0;
    padding: 0;
    float: right;
    clear: right;
}

.menu li {
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0 15px 0 15px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1em 0 1em 0;
}

.menu .current a {
    font-weight: bold;
}

.menu a:hover {
    color: #cccccc;
    text-decoration: underline;
}

/* SISÄLTÖ */

/* Wrapper */

.wrapper {
    margin-top: 70px;
}

/* Container Taustakuvat */
.container-1 {
    background:url('img/img1.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.container-2 {
    background:url('img/img2.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.container-3 {
    background:url('img/img3.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.container-4 {
    background:url('img/img4.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.container-5 {
    background:url('img/img5.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

/* Credits sivu  */
.container-6 {
    background:url('img/img6.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 5rem 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

#credits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    grid-gap: 1em;
    margin: auto;
    align-content: center;
}

.profile {
    margin: 0 auto;
    background-color: rgba(230, 215, 208, 0.89);
    border-radius: 10px;
}

.profile img {
    border-radius: 10px;
}

/* Content = Global Wrapper */
.content {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Video */
.video {
    display: grid;
}

video {
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin: 2em auto;
}

/* Kartan CSS omassa kansiossaan style.css */

/* Recipes */
.recipes-header {
    text-align: center;
    width: 50%;
    background-color: rgba(230, 215, 208, 0.89);
    border-radius: 25px;
    border-bottom: 2px solid black;
    padding: 10px 30px;
    margin: 0 auto 1em auto;
}

.recipes-header h1, .recipes-header h2 {
    margin: 5px 0 5px 0;
}

#reseptiHakuNappi {
    background-color: #5e5d5d;
    border-radius: 5px;
    border: none;
    color: white;
    height: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#resepti-input {
    width: 60%;
    height: 1.5em;
    margin: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

/* Resepti Grid */
#recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 1em;
}
.recipe-block {
    text-align: center;
    background-color: rgba(230, 215, 208, 0.89);
    border-radius: 25px;
    border-bottom: 2px solid black;
    padding: 10px;
}

/* Resepti  muut */
.recipe-block img {
    max-width: 312px;
    max-height: 231px;
    padding-top: 5px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.recipe-block a {
    color: black;
}

.recipe-block a:hover {
    color: #5e5d5d;
}

/* Unilaskuri & Budjettilaskuri */
#sleepContent, #budgetContent {
    text-align: center;
    width: 30%;
    background-color: rgba(230, 215, 208, 0.89);
    border-radius: 25px;
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0 auto 0 auto;
}

input[type="date"] {
    width: 8.5rem;
    height: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.search{
    align-content: center;
    padding: 30px;
}

#uniNappi, #massiNappi {
    background-color: #5e5d5d;
    border-radius: 5px;
    border: none;
    color: white;
    height: 30px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#moneyATM {
    width: 4rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

#wakeupH{
    width: 2rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

#wakeupM{
    width: 2rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    height: 1.5rem;
    width: 3rem;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Footer */
footer {
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

footer a:hover {
    color: #cccccc;
    text-decoration: underline;
}

/* Media Query */
/* Tableteille ja paremmille luureille */
@media(max-width: 1130px){

    /* Hamppari menu */
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        width: 100%;
        text-align: center;
        display: none;
        padding: 0;
    }

    .menu ul {
        width: 100%;
        margin: 0;
    }

    .menu li {
        text-align: center;
        width: 100%;
        display: list-item;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu a {
        display: block;
        padding: 1em 0 1em 0;
        border-bottom: 1px solid #EAEAEB;
    }

    #toggle:checked + .menu {
        display: block;
    }
    /* / Hamppari-menu loppuu / */

    #sleepContent, #budgetContent {
        width: 50%;
    }
}

/* Media Query */
/* Tosi pienille näytöille */
@media(max-width: 405px){
.container {
    margin: 70px auto 0 auto;
}

.content {
    width: 90%;
}

header h1 {
    font-size: 24px;
    margin: 16px 0 16px 16px;
}
/* Hamppari menu */
label {
display: block;
cursor: pointer;
}

.menu {
    width: 100%;
    text-align: center;
    display: none;
    padding: 0;
}

.menu ul {
    width: 100%;
}

.menu li {
    text-align: center;
    width: 100%;
    display: list-item;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    display: block;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #EAEAEB;
}

#toggle:checked + .menu {
    display: block;
}
/* / Hamppari-menu loppuu / */
.recipes-header {
    width: 80%;
}

#sleepContent, #budgetContent {
    width: 80%;
}
}