#map_container {
    z-index: 1;
}

#event_map_container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 100%;
    background-color: white;
}

#map_sidebar {
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
}

#search_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#address_input_form {
    grid-column: 1/3;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

#event_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 35em;
    overflow-y: scroll;
}

.map_events_li {
    padding: 0.3em;
    border: 0.1em;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
}

#event_ul li h3 {
    font-size: 1em;
}

#haku, #geo {
    background-color: #5e5d5d;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    grid-gap: 3px;
}
#haku {
    margin-right: 1px;
}

#geo {
    margin-left: 1px;
}

@media only screen and (max-width: 850px) {
    #event_map_container {
        display: grid;
        grid-template-rows: 6fr 1fr 3fr;
        grid-template-columns: unset;
        height: 40em;
        width: 100%;
    }

    #map_sidebar {
        display: grid;
        grid-template-rows: 1.5fr 8.5fr;
    }

    #search_box {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #address_input_form {
        grid-column: 1/3;
    }

    #map_container {
        min-height: 20em;
    }

    #event_ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 20em;
        overflow-y: scroll;
    }

    .map_events_li {
        padding: 0.3em;
        border-style: solid;
        border-color: black;
        box-sizing: border-box;
    }

    #event_ul li h3 {
        font-size: 1em;
    }
}
